@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 400;
    src: local('HelveticaNeue Regular'), url(../webfonts/helvetica/HelveticaNeueLTStd-Md.otf) format('opentype');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-style: normal;
    font-weight: 700;
    src: local('HelveticaNeue Bold'), url(../webfonts/helvetica/HelveticaNeueLTStd-Bd.otf) format('opentype');
}

@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 400;
    src: local('HelveticaNeue Regular Italic'), url(../webfonts/helvetica/HelveticaNeueLTStd-MdIt.otf) format('opentype');
}
@font-face {
    font-family: 'HelveticaNeue';
    font-style: italic;
    font-weight: 700;
    src: local('HelveticaNeue Bold Italic'), url(../webfonts/helvetica/HelveticaNeueLTStd-BdIt.otf) format('opentype');
}
@font-face {
    font-family: 'HelveticaNeue';
    src: url('../webfonts/helvetica/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),  url('../webfonts/helvetica/HelveticaNeueLTStd-Lt.otf')  format('opentype'),
           url('../webfonts/helvetica/HelveticaNeueLTStd-Lt.woff') format('woff'), url('../webfonts/helvetica/HelveticaNeueLTStd-Lt.ttf')  format('truetype'), url('../webfonts/helvetica/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "FuturaStdBook";
    src: url('../webfonts/futura/FuturaStd-Book.eot');
    src: url('../webfonts/futura/FuturaStd-Book.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/futura/FuturaStd-Book.ttf') format('truetype'),
    url('../webfonts/futura/FuturaStd-Book.svg#FuturaStdBook') format('svg');
}

@font-face {
    font-family: "FuturaStdLight";
    src: url('../webfonts/futura/FuturaStd-Light.eot');
    src: url('../webfonts/futura/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/futura/FuturaStd-Light.ttf') format('truetype'),
    url('../webfonts/futura/FuturaStd-Light.svg#FuturaStdLight') format('svg');
}
@font-face {
    font-family: "FuturaStdMedium";
    src: url('../webfonts/futura/futurastd-medium-webfont.eot');
    src: url('../webfonts/futura/futurastd-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/futura/futurastd-medium-webfont.ttf') format('truetype'),
    url('../webfonts/futura/futurastd-medium-webfont.svg#FuturaStdLight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "FuturaStdBold";
    src: url('../webfonts/futura/FuturaStdBold.eot');
    src: url('../webfonts/futura/FuturaStdBold.eot?#iefix') format('embedded-opentype'),
    url('../webfonts/futura/FuturaStdBold.ttf') format('truetype'),
    url('../webfonts/futura/FuturaStdBold.svg#FuturaStdBold') format('svg');
}

@mixin boldButtonFont() {
    font-family: "FuturaStdBold";
}

@mixin boldFont() {
    font-family: 'HelveticaNeue';
    font-weight: 700;
}
@mixin mediumFont() {
    font-family: 'HelveticaNeue';
    font-weight: 500;
}
@mixin lightFont() {
    /*
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    */
    font-family: 'HelveticaNeue';
    font-weight: 300;
}
@mixin bookFont() {
    font-family: "FuturaStdBook";
    font-weight: 300;
}

.hel {
    @include lightFont();
}
%helvetica {
    @include lightFont;
}
.futuraMedium {
    font-family: "FuturaStdMedium";
}
.futuraLight {
    font-family: "FuturaStdLight";
}
