@import 'materialRadio';
@import 'materialCheck';

$breakpoints: (
        xs: 576px,
        sm: 768px,
        md: 992px,
        lg: 1200px,
        xlg: 1220px
);

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}
@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

%visuallyhidden {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin respond-above($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (min-width: $breakpoint-value) {
      @content;
    }

  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}
@mixin respond-below($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $breakpoint-value: map-get($breakpoints, $breakpoint);
    @media (max-width: ($breakpoint-value - 1)) {
      @content;
    }
  } @else {
    @warn 'Invalid breakpoint: #{$breakpoint}.';
  }
}

@mixin transition($transition...) {
    /* defining prefixes so we can use them in mixins below */
    $prefixes:      ("-webkit", "-ms", "-o",  "");
    @each $prefix in $prefixes {
        #{$prefix}-transition: $transition;
    }

    transition: $transition;
}
@mixin transform($transforms) {
    -moz-transform: $transforms;
    -o-transform: $transforms;
    -ms-transform: $transforms;
    -webkit-transform: $transforms;
    transform: $transforms;
}
@mixin scale($scale) {
  @include transform(scale($scale));
}

@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}
}
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
    @if $inset {
        -webkit-box-shadow:inset $top $left $blur $color;
        -moz-box-shadow:inset $top $left $blur $color;
        box-shadow:inset $top $left $blur $color;
    } @else {
        -webkit-box-shadow: $top $left $blur $color;
        -moz-box-shadow: $top $left $blur $color;
        box-shadow: $top $left $blur $color;
    }
}
@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius; 
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rounded-panel($bold: false) {
    @if $bold {
      @include box-shadow(0px 0px 15px 0px rgba(#000 ,0.05), 0 5px 30px 0 rgba(#000, 0.05));
    } @else {
      @include box-shadow(0px 0px 15px 0px rgba(#000 ,0.05));
    }
    @include rounded(10px);
}

@mixin button($color: $primary, $text_color: #FFF, $cta: false) {
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    padding: 10px 25px;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    @include rounded(20px);
    @include box-shadow(none);
    @include mediumFont;
    @include bookFont;

    color: $text_color;
    background: $color;
    border:0;

    &.secondary {
        color: $text_color;
        background: $secondary;
        border:0;
    }

    &.reset {
      color: $reset-color;
      background: $reset;
      border:0;
      text-shadow:none;
    }

    @if $cta {
        text-transform: uppercase;
        letter-spacing: 3px;
        @include boldButtonFont;
        font-size: 16px;
        text-shadow: none;
        padding: 10px 55px;
    }

    &.cta {
        text-transform: uppercase;
        letter-spacing: 3px;
        @include boldButtonFont;
        text-shadow: none;
        padding: 10px 35px;
    }

    &.pd-long {
        padding: 10px 55px;
    }

    &[disabled], &.disabled {
      background:$disabled-button-bg;
      color:$disabled-button-color;
      pointer-events: none;
      &:hover {
        background: $disabled-button-bg!important;
        color:$disabled-button-color!important;
      }
    }

    &:hover {
      text-decoration: none;
      background: saturate($color, 10%);
      &.secondary {
       background: saturate($secondary, 10%);
      }
      &.reset {
        background: saturate($reset, 10%);
      }
    }
  
    &:active {
      position: relative;
      top: 1px;
      color: saturate($color, 15%);
      outline:none;
      &.secondary {
          color: saturate($secondary, 15%);
      }
      &.reset {
        color: saturate($reset-color, 15%);
      }
    }

    &:focus, &:visited {
      outline:none;
      text-decoration: none;
    }

    &.check {
      @include rounded(5px);
      @include linear-gradient($color, darken($color, 10%));
      @include mediumFont;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: bold;
      font-size: 16px;
      height: 38px;
      border: 1px solid $color;
      box-shadow: 0 0 1px 0 $color, 0 1px 0 1px rgba($color, 0.12);
      &:hover {
        @include linear-gradient($color, darken($color, 20%));
      }
    }
}

@mixin input-field () {
    display: inline-block;
    height:37px;
    border:1px solid #EAEAEA;
    padding:5px;
    outline: none;
    text-decoration: none;
    margin: 2px 0;
    @include rounded(5px);
    /*@include box-shadow(0 0 0px .5px #EAEAEA);*/
    @include box-shadow(0 0 0px 0px $input_border_color, inset 0 1px 1px $input_border_color);
    &:focus {
      border-color:lighten($primary, 10%);
      @include box-shadow(0 0 0px 1px rgba($input_focus_color, 0.5), inset 0 1px 1px $input_border_color);
    }
    /*
    &:focus {
        border-color:lighten($primary, 10%);

        @include box-shadow(0px 0 1px 2px lighten($primary, 30%));
    }
    */
}

@mixin pagination-item() {
  border: 1px solid $secondary;
  background: $secondary;
  border-radius: 20px;
  color: #FFF!important;
  @include bookFont;
  @include transition(all .35s ease-in-out);
  &.disabled {
    border: 1px solid $disabled-button-bg;
    background: $disabled-button-bg;
    color:$disabled-button-color!important;
    pointer-events: none;
  }
  &:hover {
    border-radius: 20px;
    border: 1px solid darken($secondary, 10%)!important;
    background: darken($secondary, 10%)!important;
  }
}
@mixin pagination-current-item() {
  border: 1px solid $primary;
  background: $primary;
  border-radius: 20px;
  color: #FFF!important;
  @include transition(all .35s ease-in-out);
  pointer-events: none;
  &.disabled {
    border: 1px solid $disabled-button-bg;
    background: $disabled-button-bg;
    color:$disabled-button-color!important;
    pointer-events: none;
  }
  &:hover {
    border-radius: 20px;
    border:1px solid darken($primary, 10%)!important;
    background: darken($primary, 10%)!important;
  }
}