/* Datepicker */
.datepicker table tr td.active.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover.active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active:active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active:hover:active {
  background: $primary!important;
}
.datepicker table {
  margin: 5px;
  @include mediumFont;
}

/* Autocomplete */

.autocomplete-suggestions {
  @extend %helvetica;
  border: 1px solid $input_border_color;
  background: #FFF;
  overflow: auto;
  border-top: 0;
  margin-top: -5px;
  @include box-shadow(0 1px 0px 1px rgba($input_focus_color, 0.5), inset 0 -1px 1px $input_border_color);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-top: 5px;
  .autocomplete-suggestion {
    padding: 5px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    border-bottom: 1px solid rgba(#000, 0.05);
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 1px;
    height: 28px;
  }
}

.autocomplete-selected { background: lighten($primary, 5%); color:#FFF; }
.autocomplete-suggestions strong { font-weight: normal; color: $secondary; @include mediumFont; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; @include mediumFont; }

/* ionicons */
.ion-load-d:before, .ion-loading-d:before {
  content: "\f29d";
}
@-moz-keyframes spin { 0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); } }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); } }
@-o-keyframes spin { 0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); } }
@-ms-keyframes spin { 0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); } }
@keyframes spin { 0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); } }
.ion-spin, .ion-loading-a, .ion-loading-b, .ion-loading-c, .ion-loading-d, .ion-looping, .ion-refreshing, .ion-ios7-reloading {
  -webkit-animation: spin .8s infinite linear;
  -moz-animation: spin .8s infinite linear;
  -o-animation: spin .8s infinite linear;
  animation: spin .8s infinite linear;
}
.icon.ion-spin {
  width:auto;
  height:auto;
  font-size:24px;
  margin:0;
}