// Body
$body-bg: #f7f8f8;
$primary: #0bdb7b;
$secondary: #24b3c7;
$disabled-button-bg: #ebf1f6;
$disabled-button-color: #c7ccd1;
$reset: #eaeaea;
$reset-color:#cccccc;

$input_border_color: #EAEAEA;
$input_focus_color: #25f494;


// Bootstrap override
$link-color:#3CAAFF;




