
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600');

// Variables
@import "variables";
@import "mixins";
@import "icons";
// @import "node_modules/ionicons/dist/scss/ionicons";
@import "fonts";
/* Bootstrap */
$alert-border-radius: 8px;
$alert-danger-bg: #a94442;
$alert-danger-border: #a94442;
$alert-danger-text: #FFF;
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "thirdpart";

html, body {
  position: relative;
  width: 100%;
  height: 100%;
}

body {
  background: $body-bg;
  overflow-y: scroll;
  padding-top:100px;
}

textarea {
  resize:none;
  min-height:80px;
}

.ddh-header {
  @extend .container-fluid;
  @extend .hel;
  background-color: #fff;
  padding-top: 27px;
  padding-bottom: 27px;
  background: #FFF;
  border-bottom:3px solid rgba(#e3e4e4, .75);
  box-shadow: 0 5px 30px 0 rgba(#000, .05);
  height: 100px;
  position: relative;
  overflow: hidden;

  position:fixed;
  top:0;
  width:100%;
  left:0;
  -webkit-transform: translateZ(0);
  z-index:999;

  & > .container {
    @extend .clearfix;
    position:relative;
    clear:both;
    height:100%;
  }
  .ddh-logo {
    @extend .navbar-brand;
    position: absolute;
    top: 50%;
    height: 50px;
    transform: translate(0, -50%);
    padding: 5px 5px 5px 0px;
    img {
      display:block;
      height:100%;
    }
  }
  .navbar-nav {
      @extend .hel;
      float: right;
      margin-right:15px;
      margin-top: 0;
      position: absolute;
      right: 0px;
      @include transform(translate(0, -50%));
      top: 50%;
      li {
        float:left;
        a {
          color: #707070;
          font-size: 15px;
          line-height: 30px;
          padding: 4px 15px 0 15px;
          @include rounded(20px);
          position: relative;
          overflow: hidden;
          .icon {
            margin-right: 3px;
          }

          &.light {
            @include transition(all .25s ease-in);
            will-change:background, box-shadow, transform;
            cursor:pointer;
            &:hover {
              background-color: rgba(234, 234, 234, 0.7);
              @include box-shadow(0 2px 1px 1px inset rgba(51, 51, 51, 0.1));
              @include transform(translate(0, 1px));
            }
          }
        }
      }

  }
}

.new-tv {
  text-transform: uppercase;
  svg {
    .cls-1 {
      stroke:#FFF;
    }
  }
}

.main-content {

  padding: 50px 50px 30px 50px;
  margin:0 auto;
  position:relative;
  overflow: hidden;
  .head {
    text-align:center;

    &.abs {
      position:absolute;
      width:100%;
      left:0;
    }
    .title {
      color:#000;
      margin:0;
      padding:0;
      @include mediumFont;
      font-size:36px;
      line-height:38px;
      margin-bottom:25px;
    }
    .subtitle {
      color:#707070;
      max-width:450px;
      margin:0 auto;

      margin-bottom:25px;
      @include lightFont;
      font-size:15px;
      line-height:25px;
    }

    &.left {
      text-align: left;
      .subtitle {
        max-width:100%;
        margin:0;
      }
    }
  }
}

.caroniti{
  color:#323232;
}

form {
  .form-group {
    @extend .clearfix;
    label {
      color:#B3B3B3;
      font-size:14px;
      padding-left:4px;
      display:block;
      @include bookFont;
      &.abs {
        position:absolute;
        margin-top:-20px;
      }
      &.error {
        color: #ff2a2a;
      }
    }
    .form-control {
      &, &[type='text'], &[type='email'], &[type='password'] {
          @include input-field;
      }
    }
  }
}

.fbk {
  @include bookFont;
}
.button {
  @include button;
}

.widget-box {
	padding: 10px;

	.widget-content {
		border-radius: 10px;
		background-color: #FFF;
        @include rounded-panel;
		overflow: hidden;

		.title-graph {
			background-color: #B3B3B3;
			height: 59px;
			text-align: left;

			h3 {
				margin: 0px;
                padding-top: 25px;
                padding-left: 35px;
                padding-right: 35px;
				@extend .hel;
				font-weight: 700;
				font-size: 21px;
				color: #FFF;
				display: inline;
				float: left;
			}

			.bordered{
				float: right;
				margin-top: 25px;
				margin-right: 35px;
			}
		}

		.widget-padding{
			width: 100%;
			height: 100%;
			padding: 25px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
  }

  /* Login Widget */
  &.login {
    .widget-content {
      padding-top:40px;
      padding-bottom:40px;
      .actions {
        @extend .text-center;
        @extend .futuraMedium;
        .signup {
          margin-top:30px;
          .button {
            @include button($primary, #FFF, true);
            margin-bottom:25px;
          }
        }
      }

    }
  }
  /* Login Widget */

}

.has-icon {
  position:relative;
  input {

  }
  i {
    width:16px;
    height:16px;
    position: absolute;
    bottom: 12px;
    right: 10px;
    img {
      display:block;
    }
  }
}


.cluster-panel {
  margin-top:15px;
  @extend .clearfix;
  position: relative;
  will-change: padding;
  @include transition(padding .15s ease-in-out .6s);
  &.spacing {
    padding-bottom:60px;
    @include transition(padding .35s cubic-bezier(.62,.02,.34,1));
  }
  .cluster-title {
    /*font-size: 16px; */
    text-transform: uppercase;
    padding-left: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
    @include boldButtonFont;
    letter-spacing: 1px;
    font-size: 14px;
  }
  .cluster {
    border-radius: 10px;
    background-color: #FFF;
    @include rounded-panel(true);
    overflow: hidden;
    position:relative;
    z-index:25;
    min-height: 100px;
    height: 130px;
    @include respond-below (md) {
      height:150px;
    }
    @include transition(height .35s cubic-bezier(.62,.02,.34,1));

    .wrapper {
      @extend .container;
      @extend .clearfix;

      form {
        position: relative;
      }

      padding-top: 45px;
      padding-bottom: 45px;
      width:100%;
      position:relative;
      .fillable, .quick {
        @extend .clearfix;
        will-change: transform, opacity;
        @include transition(transform .8s cubic-bezier(.62,.02,.34,1), opacity .9s cubic-bezier(.62,.02,.34,1) .02s);
      }

      .quick {
        position: absolute;
        width: 100%;
        z-index: 10;
        .actions {
          @include respond-below(md) {
            text-align: center;
            padding: 10px 5px;
          }
        }
      }
      .fillable {
        opacity:0;
        position:relative;
        z-index:9;
        @include transform(translate(0, 50px));
        @include respond-below(md) {
          .actions {
            margin-top:30px;
          }
        }
      }

      .actions {
      }
      .form-group {
        margin-bottom: 0;
        @include respond-below (sm) {
          margin-bottom:30px;
        }
        .button {
          @extend .button.pd-long;
          margin: 0 18px;
          @include respond-below (xlg) {
            padding: 10px 35px;
            margin: 0 10px;
          }
        }
      }
      input, textarea {
        @include box-shadow(0 0 0px 0px $input_border_color, inset 0 1px 1px $input_border_color);
        &:focus {
          @include box-shadow(0 0 0px 1px rgba($input_focus_color, 0.5), inset 0 1px 1px $input_border_color);
        }
      }
    }

    &.fill {
      height:240px;
      @include respond-below (md) {
        height:300px;
      }
      .quick {
        opacity:0.2;
        z-index:9;
        @include transform(translate(0, -90px));
        @include respond-below (md) {
          @include transform(translate(0, -150px));
        }
      }
      .fillable {
        opacity:1;
        z-index:10;
        @include transform(translate(0, 0px));
      }
    }


    ._hide {
      @include transition(all .45s ease-in-out);
      @include scale(0);
    }
    .separator {
      @extend .clearfix;
      padding: 20px 0 15px 0;
      display: block;
      clear: both;
      @include respond-below (sm) {
        padding:0;
      }
    }
  }
  .insert--buttons {
    @extend .clearfix;
    position:absolute;
    width:100%;
    z-index:20;
    @include transform(translate(0, -50px));
    .button {
      height: 40px;
      font-size: 16px;
      line-height: 22px;
      will-change: transform, opacity;
      opacity:0.5;
      margin:0 15px;
      /*
      padding-left: 45px;
      padding-right: 45px;
      */
      @extend .button.pd-long;
      @include transition(transform .5s cubic-bezier(0.64, 0.57, 0.67, 1.53) .15s, opacity .9s cubic-bezier(.62,.02,.34,1) .02s);
      &[type="submit"] {
        letter-spacing: 2px;
        font-size: 14px;
        @include transition(transform .5s cubic-bezier(0.64, 0.57, 0.67, 1.53) .45s, opacity .9s cubic-bezier(.62,.02,.34,1) .12s);
      }
    }
  }
  .cluster.fill ~ .insert--buttons {
    .button {
      opacity:1;
      @include transform(translate(0, 80px));
      @include transition(transform .35s cubic-bezier(0.64, 0.57, 0.67, 1.53) .15s, opacity .23s cubic-bezier(.62,.02,.34,1) .02s);
    }
  }
}

.tele-list {
  @extend .container;


  h2 {
    margin-top:30px;
    padding-top:40px;
    border-top:2px solid #d0d1d1;
    padding-bottom: 35px;
    @include mediumFont;
    font-size:22px;
    line-height: 24px;
  }

  table.dataTable {
    box-sizing: content-box;
    border-spacing: 0 20px!important;
    border-collapse: separate;
    border:0!important;
    tr {
      th {
        padding:0 0 0 25px;
        @include boldButtonFont;
        letter-spacing: 1px;
        font-size: 14px;
        padding-bottom:0;
        border-bottom:0;
        text-transform: uppercase;

      }
    }
    tbody {
      tr {
        overflow: hidden;
        position: relative;
        z-index: 25;
        min-height: 90px;
        /*height: 130px; */
        height: 90px;
        vertical-align: top;
        background: transparent;
        td {
          background:#FFF;
          padding: 25px 25px;
          @include bookFont;
          color:#323232;
          &.center {
            text-align:center;
          }
          span {
            margin-top: 10px;
            display: block
          ;
          }
          .notes {
            @include bookFont;
            font-size:14px;
            line-height:20px;
            height:60px;
            position:relative;
            overflow:hidden;
          }
          .button {
            @extend .button.cta;
            font-size:13px;
            &:hover {
              color:darken($primary, 10%);
            }
            position:relative;
            z-index:10;
          }
        }
        td:first-child {
          border-left-style: solid;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          border-color: #FFF;
        }
        td:last-child {
          border-right-style: solid;
          border-bottom-right-radius: 10px;
          border-top-right-radius: 10px;
          border-color: #FFF;
        }


        &:after {
          box-sizing: border-box;
          content:'';
          position:absolute;
          left:0;
          right:0;
          width:100%;
          display: block;
          height: 90px;
          @include rounded(10px);
          @include box-shadow(0px 0px 15px 0px rgba(#000 ,0.05), 0 5px 30px 0 rgba(#000, 0.05));
        }

        &.disabled {
          td {
            background: #f8f8f8;
            color: #dde2ec;
          }
        }

      }
    }
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    @include pagination-item;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    @include pagination-current-item;
  }
  .dataTables_processing {
    display:none!important;
    visibility:hidden!important;
    background: $disabled-button-bg;
    z-index: 90;
    width: 200px;
    height: 200px;
    border-radius: 20px;
    left: 50%;
    right: auto;
    margin: 0;
    @include transform(translate(-50%, -50%));
    color: $disabled-button-color;
    @include bookFont;
    box-shadow: 0 0 20px 10px #ddd;
    line-height: 150px;
  }
  .dataTables_empty {
    line-height: 80px;
    font-size: 18px;
  }
}

.aloader {
  @extend .ion-spin;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  font-size: 22px;
  color: #b4b4b4;
  margin: 10px 26px;
  @include transition(opacity .55s ease);
  will-change:opacity;
  &._hide {
    @include opacity(0);
  }
}

/* Code insert */
.form-group {
  .code-group {
    text-align:center;
    input {

      width: 40px;
      text-align: center;
      font-size: 30px;
      height: 42px!important;
    }
  }
}

/* Televisit */
iframe.client {
  width: 100%;
  position: absolute;
  left: 0;
  height: calc(100vh - 100px);
  border: 0;
  top: 100px;
}

.ddh-header {

}
